/* Home Section*/
.textdiv {
    width: 100%;
    height: 100vh;
    background: #2b323c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content h1 {
    margin-left: 15%;
}

.text-3d-shadow {
    text-shadow: 15px 15px 8px rgb(0, 0, 0), 15px 15px 8px rgb(0, 0, 0), 15px 15px 8px rgb(0, 0, 0);
    /* Additional styles can be added here */
}

.content {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgdiv {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 50%;
    width: auto;
    border: 1px solid black;
    border-radius: 150px;
    box-shadow: 15px 15px 30px rgb(0, 0, 0), 15px 15px 30px rgb(0, 0, 0), 15px 15px 30px rgb(0, 0, 0);
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}







@media only screen and (max-width: 750px) {
    .textdiv {
        flex-direction: column-reverse;
        /* Reset flex-direction for larger screens */
        height: 100vh;
        /* Adjusted height for larger screens */

    }

    .content h1 {
        font-size: 20px;
        margin-left: 0%;
        margin-bottom: 50%;
    }

    .imgdiv {
        width: 50%;
        /* Reset width for larger screens */
        height: 50%;
        /* Reset height for larger screens */

    }

    .profile-image {
        margin-top: 50%;
        border: 1px solid black;
        border-radius: 150px;
        box-shadow: 5px 10px 30px rgb(0, 0, 0), 5px 10px 30px rgb(0, 0, 0), 5px 10px 30px rgb(0, 0, 0);
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        -ms-border-radius: 150px;
        -o-border-radius: 150px;
    }



}